<h1><%= @article.title %></h1>

<p><%= @article.body %></p><br>

<a href="/articles/<%= @article.id %>/edit" style="font-weight:bold;color:gray;background-color:lightgray;">
    <%= "Edit" %>
</a><br><br>

<a href="/"  style="font-weight:bold;color:blue;">
    <%= "Back" %>
</a>